.DS_Store
#IDE Meta files
.idea/

#ignore robots.txt
robots.txt

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# mpdf ttfontdata

container-build/web/000-default.conf
system/sessions/

*/config/*/*

# Vendor
vendor/*

*.zip

#ignore robots.txt
robots.txt

.env


